h1,h2{
	text-align: center;
	font-family: "Georgia";
}
h1 	{
		color:rgb(0,100,0);
		text-align: center;
	}

h2  {
		color:rgb(100,20,100);
	}
h3	{
		text-align: left;
		font-family: "Georgia";
		color: orange;
	}	
h5{
	float: right;
	color: red;
}
body{
	background-color: black;
}
p {
	font-size: 14px;
	line-height: 19px; 
	margin-bottom: 19px;
	color: white;
}

li{
	color: blue;
}

a{
	color: red;
}


img {
	float:left;
	margin: 10px;
}